
<h1>Races entered</h1>
 
<table class="table">
  <tr>
    <th>Race</th>
    <th>Race type</th>
    <th>Distance(km)</th>
    <th>Months until</th>
    <th>Days until</th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.event_type %></td>
      <td><%= event.distance %></td>
      <td><%= event.months_to_go %></td>
      <td><%= event.days_to_go %> </td>
    </tr>
  <% end %>
</table>